:root {
  --border-color: rgb(221, 221, 221);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 10px;
}





