*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1;
  overflow-y: auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
}


.form-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width:400px;
  margin: 0 auto;
  width:100%
}

.form-container input{
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid black;
}

.form-container button{
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: green;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.form-container button:hover{
  background-color: rgb(8, 110, 8);
}

